
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<button onclick="signIn()">Sign-In</button>
<button onclick="callApi()">Call-Api</button>
<button onclick="signOut()">Sign-Out</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.10.1/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="~/main.js"></script>